*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px solid white; */
    
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'poppins', sans-serif;
    background: #080808;
    color: white;
}

::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-track{
    background-color: rgb(219, 219, 219);
}
::-webkit-scrollbar-thumb{
    background:#03C03C;
}

#header{
    width: 100%;
    height: 100vh;
    background-color: #080808;
    background-size: cover;
    background-position: center;
}
.container{
    padding: 7px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li span{
    color: #03C03C;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #03C03C;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 20%;
    font-size: 30px;
    padding: 0px;
}
.header-text h1{
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.header-text h1 span{
    color: #03C03C;
}
.header-text p span{
    color: #03C03C;
}
.text-animation{
    font-size: 30px;
    font-weight: 600;
    min-width: 280px;
  }
  .text-animation span{
    position: relative;
  }
  .text-animation span::before{
    content: "Web Developer";
    color:#03C03C;
    animation: words 20s infinite;
  }
  .text-animation span::after{
    content: "";
    background-color: black;
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid white;
    right: -8px;
    animation: cursor 0.3s infinite, typing 20s steps(14) infinite;
  }
  @keyframes cursor{
    to{
      border-left: 3px solid white;
    }
  }
  @keyframes words{
    0%,
    20%{
      content: "Frontend Designer";
    }
    21%,
    40%{
        content: "Web Designer";
    }
    41%,
    60%{
      content: "Data Analyst";
    }
    61%,
    80%{
      content: "Web Developer";
    }
    81%,
    100%{
      content: "Software Tester";
    }
  }
  @keyframes typing{
    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95%{
      width: 0;
    }
    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85%{
      width: calc(100% + 8px);
    }
  }
.download-cv-btn{
    display: block;
    margin: 40px 5px;
    width: fit-content;
    border: 1px solid white;
    padding: 10px 35px;
    border-radius: 40px;
    text-decoration: none;
    color: white;
    font-weight: 800;
    font-size: 15px;
}
.download-cv-btn:hover{    
    background:black;
    color:#03C03C;
}


/* ------About----- */

#about{
    padding: 80px 0;
    color: #ababaa;
}
.row{
    padding-block: 40px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    padding-block: 50px;
    width: 100%;
    border-radius: 20px;
}
.about-col-2{
    padding-block: 30px;
    flex-basis: 60%;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: white;
}
.tab-titles{
    padding-top: 5px;
    color: white;
    display: flex;
    margin: 50px 0px 40px;
}
.tab-titles span{
    color: #03C03C;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: #03C03C;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 100%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
    font-size: 14px;
}
.tab-contents ul li span{
    color: #03C03C;
    font-size: 17px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

/* -------Services-------- */

.sub-title1{
    text-align: center;
    font-size: 60px;
    font-weight: 600;
    color: white;
}
#services{
    padding: 80px 0;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
    padding: 30px 10px;
    margin-top: 50px;
}
.services-list div{
    height: 23vw;
    background: #262626;
    padding: 30px;
    font-size: 15px;
    font-weight: 300;
    border-radius: 30px;
    transition: background 0.5s, transform 0.5s;
}
.services-list div i{
    font-size: 40px;
    margin-bottom: 30px;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div h2 span{
    color: #03C03C;
}
.services-list div a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover{
    background: #3c3c3b;
    transform: translateY(-10px);
}


/* --------Portfolio--------- */

#portfolio{
    padding: 80px 0;
}
.work-list{
    display: grid;
    height: 25vw;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border: 1px solid white;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    height: 25vw;
    border-radius: 15px;
    display: block;
    transition: transform;
}
.layer{
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.6), #3c3c3b);
    border-radius: 15px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 10px;
    text-align: center;
    font-size: 15px;
    transition: height 0.5s;
}
.layer h3{
    font-size: 25px;
    font-weight: 800;   
    margin-bottom: 20px;
}
.layer a {
    /* Box model */
    display: block;
    box-sizing: border-box;
    width: 35px;
    height: 35px;
    border-radius: 50%; /* makes the element a circle */

    /* Typography */
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;

    /* Colors */
    color: #3c3c3b;
    background-color: #ffffff; /* use a more explicit color code for better readability */

    /* Spacing */
    margin-top: 30px;
}
.work:hover img{
    transform: scale(1.0);
}
.work:hover .layer{
    height: 100%;
}

/* --------Contact--------- */

.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 65%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #03C03C;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: white;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color:#03C03C;
    transform: translateY(-5px);
}
.submit-btn{
    display: block;
    margin: 22px 15px;
    width: fit-content;
    border: 1px solid white;
    padding: 10px 35px;
    border-radius: 40px;
    text-decoration: none;
    color: white;
    font-weight: 650;
    font-size: 13px;
    display: inline-block;
    background-color: white;
    color: #080808;
    cursor: pointer;
}
.contact-right form{
    width: 100%;
    height: 100%;
}
form input, form textarea{
    width: 95%;
    outline: none;
    background: white;
    padding: 15px;
    margin: 15px;
    font-size: 15px;
    border-radius: 5px;
}
.copyright{
    width: 100%;
    font-size: 12px;
    text-align: center; 
    margin-top: 20px;
}


/* --------CSS for Small Screen-------- */

nav .fas{
    display: none;
}

@media only screen and (max-device-width: 600px){
    .header-text{
        margin-top: 100%;
        font-size: 20px;
    }
    .header-text h1{
        font-size: 30px;
    }
    nav .fas{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: black;
        position: fixed;
        top: 0;
        right: -150px;
        width: 150px;
        height: 50vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .sub-title{
        font-size: 40px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 20px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 14.5px;
    }
    .services-list {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
    .services-list div {
        height: 50vw;
        padding: 15px;
    }
    .services-list div i {
        font-size: 30px;
        margin-bottom: 20px;
    }
    .services-list div h2 {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .services-list div p {
        font-size: 12px;
    }
    .services-list div a {
        font-size: 12px;
        margin-top: 10px;
    }
    .work-list {
        height: auto;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
    .work {
        width: 100%;
        height: 80vw;
        margin-bottom: 5px;
    }
    .work img {
        height: 80vw;
    }
    .layer {
        padding: 0px;
    }
    .layer h3 {
        font-size: 20px;
    }
    .layer p {
        font-size: 12px;
    }
    .layer a {
        margin-top: 10px;
    }
    .work:hover .layer {
        height: 100%;
    }
    .work:hover img {
        transform: scale(1);
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .copyright{
        font-size: 14px;
    }
}
#msg{
    color:#03C03C;
    margin-top: -10px;
    display: block;
}